@model Product

<link href="~/css/Product.css" type="text/css" rel="stylesheet" />
<script type="importmap">
      {
          "imports": {
          "three": "https://cdnjs.cloudflare.com/ajax/libs/three.js/0.165.0/three.module.js"
      }
    }
</script>
<div class="main-box">
    <div hidden id="test">@Model.Url</div>
    <h1>@Model.Name</h1>
    <div class="images-control" id="images-control">
        <div class="canvas-container" id="canvas-container"></div>
    </div>
    <div class="info">
        <ul>
            <li><p>Цена: @Model.Price рублей</p></li>
        </ul>
    </div>
    <div class="description">
        <p>@Model.Description</p>
    </div>
    <div class="functional-button">
        <form method="post">
            <button type="submit">В корзину</button>
        </form>
        <form method="post">
            <button type="submit">Купить в один клик</button>
        </form>
    </div>
    <script src="~/js/Product.js" type="module"></script>
</div>
