html {
    background: rgb(23,22,61);
    background: linear-gradient(120deg, rgba(23,22,61,1) 44%, rgba(106,32,43,1) 76%);
}

.main-box {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    background-color: rgb(237, 218, 240);
    position: relative;
    border: solid;
    border-color: rgb(237, 218, 240);
    border-radius: 10px;
    width: 50%;
    height: auto;
    box-shadow: 2px 12px 10px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 12px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 12px 10px -3px rgba(0,0,0,0.75);
}

.info {
    display: flex;
    margin-left: 90%;
}

.functional-button {
    display: flex;
    padding-top: 70px;
}

    .functional-button form button {
        background: rgb(238,174,235);
        background: radial-gradient(circle, rgba(238,174,235,1) 26%, rgba(96,129,226,1) 95%);
        width: 10em;
        height: 4em;
        font-size: 20px;
        margin: 10px;
    }

        .functional-button form button:hover {
            background: rgb(242, 230, 242);
            background: radial-gradient(circle, rgba(242, 230, 242,1) 26%, rgba(96,129,226,1) 95%);
        }
