/* Оформление панели */
body {
    animation-name: bodyAnim;
    animation-duration: 14s;
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
@keyframes bodyAnim {
    from {
        background-image: url("../assets/cube.gif");
    }

    to {
        background-image: url("../assets/static_cube.png");
    }
}
#side-checkbox {
    display: none;
}

.side-panel {
    border: solid;
    border-color: black;
    border-radius: 5px;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background-color: rgb(63, 61, 110);
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.button-action button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
    margin: 1%;
    width: 10em;
    height: 3em;
}

.button-action button:hover {
        background-color: #3985e6;
}
.side-button-1-wr {
    padding-right: 100%;
}

.side-button-1 {
    display: inline-block;
}
.side-button-1 .side-b {
        margin: 10px;
        text-decoration: none;
        position: relative;
        font-size: 5px;
        line-height: 5px;
        padding: 20px 30px;
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Roboto', Тahoma, sans-serif;
        cursor: pointer;
        border: 2px solid rgb(217, 24, 204);
        border-radius: 10px;
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
        color: white;
 }

 side-button-1 .side-b:after,
.side-button-1 .side-b:before 
{
        position: absolute;
        height: 4px;
        left: 50%;
        bottom: -6px;
        content: "";
        transition: all 280ms ease-in-out;
        width: 0;
}

    /* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}

#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: black;
    transition: all 280ms ease-in-out;
}
.side-button-2:hover {
     transform: rotate(45deg) scale(1.1);
     color: #FFF;
}
.product:hover {
    transform: scale(1.05);
}
.info price {
    color: lawngreen;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
   
}
.info oldprice {
    text-decoration: line-through;
    color: red;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

.product {
    text-align:center;
	display: block;
	border: 3px solid black;
	border-radius: 10px;
	margin: 0 20px 20px 0;
	text-decoration: none;
	z-index: 0;
    background-color: white;
}

.products clearfix {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
        
    }
    .button-action {
        left: 40%;
    }

}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
    .button-action {
        left: 20%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
    .button-action {
        left: 10%;
    }
}
