@model RegisterViewModel
@{

}
<link rel="stylesheet" href="../css/Auth.css" type="text/css"/>
<div class="main">
<div class="registration-cssave">
    <form method="post">
        <h3 class="text-center">Форма РЕГИСТРАЦИИ</h3>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input class="form-control item" type="password" asp-for="Password" minlength="6" required>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm"></label><br />
            <input class="form-control item" type="password" asp-for="PasswordConfirm" minlength="6" required>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input class="form-control item" type="text" asp-for="Name" required>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label><br />
            <input class="form-control item" type="password" asp-for="LastName" required>
        </div>
        <div class="form-group">
            <label asp-for="Mail"></label><br/>
            <input class="form-control item" type="email" asp-for="Mail" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Зарегистрироваться</button>
        </div>
            <a asp-controller="Account" asp-action="Login"><p>Имеете аккаунт?</p></a>
    </form>
    </div>
</div>