.main {
    margin-top: 10em;
}

body {
    background-color: rgb(235, 206, 211);
}

.buttons {
    border: solid, 1px;
    border-color: rgb(230, 204, 209);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 17px 65px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 17px 65px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 17px 65px -12px rgba(0,0,0,0.75);
    background-color: white;
}

.buttons ul {
    list-style-type: none;
}

.button_opt {
    padding-top: 3px;
    position: relative;
    right: 2%;
    bottom: 1em;
}
.main {
    overflow-x: hidden;
    -webkit-line-clamp: 2;
    word-break: break-all;
}
.button_opt button {
     width: 80px;
     height: 80px;
}

.info h1 {
    font-size: 200%;
    border-bottom: 4px inset black;
}

.view-info {
    
    margin-left: 50%;
    margin-bottom: 10em;
}

.view-info p {
     font-size: 30px;
}
.function button {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
}
function button :hover {
    background-color: #3985e6;
}
.function label, .function input {
      display: block;
      margin-top: 20px;
      border-color: white;
      border-radius: 10px;
}

