@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="../css/Katalog.css" type="text/css" />

    <div class="main">
        <input type="checkbox" id="side-checkbox" />
        <div class="side-panel">
            <label class="side-button-2" for="side-checkbox">+</label>
            <div class="side-title">
                <h2>Поиск</h2>
                <form method="post" action="">
                    <input type="text" placeholder="Введите название товара" />
                    <button type="submit">Найти товар</button>
                    <img src="" alt="logo">
                </form>
            </div>

        </div>
        <div class="side-button-1-wr">
            <label class="side-button-1" for="side-checkbox">
                <div class="side-b side-open"><img src="../wwwroot/assets/three_line.png" alt="logo"></div>
                <div class="side-b side-close"><img src="./wwwroot/assets/three_line.png" alt="logo"></div>
            </label>
        </div>
        <ul class="products clearfix">
            <li class="product-wrapper">

                <a href="" class="product">
                    <div class="info">
                        <canvas id="3DModel"></canvas>
                        <p>Инфо через цикл</p>
                    </div>
                    <div class="button-action">
                        <form method="post">
                            <button type="submit">В козину</button>
                        </form>
                        <form method="post">
                            <button type="submit">Купить в один клик</button>
                        </form>
                    </div>
                </a>
            </li>
        </ul>

    </div>

