<link href="~/css/SiteInfoPages.css" type="text/css" rel="stylesheet" />
<div class="main">
    <div class="container">
        <form method="get">
            <button class="back" type="submit">Назад</button>
        </form>
        <h1>О нас</h1>
        <hr>
        <blockquote>"День прожит зря, если ты не узнал ничего нового, не раскрыл ни одной тайны прошлого."</blockquote>
        <strong>О создании</strong>
        <p>
            Так подумал разработчик и решил написать собственный веб-сайт.
            Многие люди уже давно отдают предпочтение интернет-магазинам вместо обычных и именно поэтому я решил выбрать эту тему. Конечно, создать интернет магазин это одно, но что в нём продовать? Ответ для вас очивиден, однако во времена создания проекта это было не так. Я в то время учился в одной академии, у них был свой сайт а на нём можно было за виртуальную валюту покупать распечатку 3d фигурок. Идея показалась мне,весьма, перспективной и я решил слегка её доработать. В ноябре 2023 я начал изучать Asp.Net. В январе 2024 взял курсы от академии TeachMeSkills. В июне 2024 взялся за разработку вею-приложения. Так был создан
        <p class="spec">BT3DModelStore.</p>
        </p>
        <strong>О Разработчике</strong>
        <ul class="dev_info">
            <li>ФИ: Илимбаев Денис</li>
            <li>Псевдоним: Ashita</li>
            <li><a href="https://t.me/AshitaDenis">Телеграм</a></li>
        </ul>
    </div>
</div>