<link href="~/css/SiteInfoPages.css" type="text/css" rel="stylesheet" />
<div class="main">
    <div class="container">
        <form method="get" asp-action="@EndpointValueInStringStorage.CatalogAction" asp-controller="@EndpointValueInStringStorage.MainController">
            <button class="back" type="submit">Назад</button>
        </form>
        <h1>Контакты</h1>
        <hr>
        <p>Телефон: +79957877043</p>
        <p>Телеграм: AshitaDenis</p>
    </div>
</div>
