<link href="~/css/SiteInfoPages.css" type="text/css" rel="stylesheet" />
<div class="main">
    <div class="container">
        <form method="get" asp-action="@EndpointValueInStringStorage.CatalogAction" asp-controller="@EndpointValueInStringStorage.MainController">
            <button class="back" type="submit">Назад</button>
        </form>
        <h1>Доставка</h1>
        <hr>
        <p class="info">Мы осуществляем доставку цветов и подарков по Москве и Московской области.</p>
        <p class="info">Принимаем заказы день в день и на последующие дни.</p>
        <table>
            <tbody>
                <tr>
                    <td class="left-info">
                        <p>В пределах Мкад</p>
                    </td>
                    <td class="right-info"><div class="cont"><p><strong>500 руб</strong></p><img src="https://usagif.com/wp-content/uploads/gifs/coin-flip-52.gif" width="50" height="50" /> </div></td>
                </tr>
                <tr>
                    <td class="left-info"> <p>За пределами Мкад</p></td>
                    <td class="right-info"><div class="cont"><p><strong>500 руб</strong></p><img src="https://usagif.com/wp-content/uploads/gifs/coin-flip-52.gif" width="50" height="50" /> </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
