<link href="~/css/SiteInfoPages.css" type="text/css" rel="stylesheet" />
<div class="main">
    <div class="container">
        <form method="get" asp-action="@EndpointValueInStringStorage.CatalogAction" asp-controller="@EndpointValueInStringStorage.MainController">
            <button class="back" type="submit">Назад</button>
        </form>
        <h1>Оплата</h1>
        <hr>
        <p class="info">Оплатить заказ вы можете следующими способами: </p>
        <p><strong>Картой: </strong></p>
        <ul class="dev">
            <li><img src="~/assets/visa.png" /></li>
            <li><img src="~/assets/mastercard.png" /></li>
            <li><img src="~/assets/mir.png" /></li>
        </ul>
        <p><strong>Оплата при получении.</strong></p>
    </div>
</div>